
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OnlineQuiz.Models.QuizModel

<h2>Quiz Time!</h2>

@{
    foreach (OnlineQuiz.Models.RandomizedQuestion qs in Model.questions)
    {
        <div class="form-group">
            <div>@qs.InnerQuestion.TITLE</div>
            @{
                String[] choices = qs.GetChoices().ToArray();
                foreach (String choice in choices)
                {
                    <input type="radio" name="@qs.InnerQuestion.ID" value="@choice"> @choice
                }
            }
        </div>
    }
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit Answers" class="btn btn-default" />
    </div>

}